Source: trac-spamfilter
Section: python
Priority: optional
Maintainer: Chris Lamb <lamby@debian.org>
Build-Depends: debhelper (>= 5), quilt
Build-Depends-Indep: python (>= 2.4), python-support, python-setuptools
Standards-Version: 3.7.3
Vcs-Git: git://git.chris-lamb.co.uk/pkg-trac-spamfilter.git
Vcs-Browser: http://git.chris-lamb.co.uk/?p=pkg-trac-spamfilter.git
Homepage: http://trac.edgewall.org/wiki/SpamFilter

Package: trac-spamfilter
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, trac (>= 0.10), python-setuptools
Recommends: python-dnspython (>= 1.3.5), spambayes
Description: Spam-prevention plugin for Trac
 This plugin attempts to reject contributions to Trac environments that contain
 spam. It can use the following techniques:
 .
  * Regular expressions
  * Akismet web service
  * IP throttling
  * IP blacklisting (requires python-dnspython package)
  * Bayesian filtering (requires spambayes package)
