#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

DEB_PYTHON_INSTALL_ARGS_ALL += --single-version-externally-managed

clean::
	-rm -rf TracSpamFilter.egg-info

get-orig-source:
	set -e ; \
		svn co http://svn.edgewall.com/repos/trac/sandbox/spam-filter trac-spamfilter-svn; \
		REVISION=`svnversion trac-spamfilter-svn/`; \
		find trac-spamfilter-svn/ -depth -type d -name ".svn" | xargs rm -rf; \
		tar cfz trac-spamfilter_0.2.1+svn$$REVISION.orig.tar.gz trac-spamfilter-svn/; \
		rm -rf trac-spamfilter-svn/
